@import "bootstrap/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;900&display=swap');

// general starts
html {
    font-size: 18px;
}

body {
    color: $dark;
    font-family: 'Barlow Semi Condensed', sans-serif;
    overflow-x: hidden;
}

.container {
    padding: 0;
}

h1 {
    font-weight: bold;
    color: $secondary;
}

h2, h3 {
    font-weight: bold;
}

h4 {
    font-weight: 600;
}

p {
    font-size: 24px;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

a {
    text-decoration: none;
    color: $secondary;

}

// star
path {
    fill: #E5E5E5;
}

.scale {
  animation-name: scale;
  animation-duration: 0.5s;
  animation-iteration-count: 1;
}

@keyframes scale {
  0% {
    transform: scale(1);
  }
  15% {
    transform: scale(1.3);
  }
  30% {
    transform: scale(1.6);
  }
  45% {
    transform: scale(1.9);
  }
  60% {
    transform: scale(2.2);
  }
  75% {
    transform: scale(2.5);
  }
  100% {
    transform: scale(1);
  }
}

.jump {
    transform: scale(1);
    animation-name: jump;
    animation-duration: 0.5s;
    animation-iteration-count: 2;
}

@keyframes jump {
    0% {
        bottom: 0;
    }
    50% {
        bottom: 30px;
    }
    100% {
        bottom: 0;
    }
}

article {
    margin: 0 40px;
    margin-bottom: 100px;
}

.workTogether {
    h3 {
        margin-bottom: 30px;
    }

    h3:last-of-type {
        color: $secondary;
        margin-bottom: 0;
    }
}

// general ends

// navbar starst†
header {
    position: relative;
    z-index: 999;
}

.nav {
    position: absolute;
    width: 100%;
    padding: 25px 0;

    li {
        margin-right: 39px;
    }

    li:last-child {
        margin-right: 50px;
    }
}

// navbar ends

// -------- landing page --------

// hero starts
.hero {
    padding-top: 79px;
    width: 100%;
    height: 1126.4px;
    background-image: url('../imgs/heroImg.svg');
    background-position: top;
    background-repeat: no-repeat;
    background-size: 100%;
    margin-bottom: 50px;

    > div {
        margin-top: 131px;
    }

    .description {
        width: 551px;
        margin-top: 85px;
        margin-left: 46px;
        
        h1 {
            margin-bottom: 20px;
        }

        h4, p {
            padding-left: 7px;
        }

        h4 {
            margin-bottom: 15px;
        }
    }
}

// hero ends

// skill section starts
.skillSection {
    margin-bottom: 150px;
    h3 {
        margin-bottom: 50px;
    }
    .skills {
        h4 {
            margin-bottom: 10px;
            font-weight: normal;
        }

        ul {
            padding: 0;
            margin: 0;
        }

        li {
            margin-top: 10px;
        }

    }

    a {
        margin-top: 36px;
        font-size: 14px;
        color: $secondary;
    }
}

// skill section ends

// work section starts
.workSection {
    position: relative;
    margin-bottom: 150px;

    .workSectionBgc {
        position: absolute;
        top: -314px;
    }

    .workCat { //left text
        z-index: 1;
        margin-top: -50px;

        .selection {
            animation-name: selection;
            animation-duration: 0.5s;
            animation-iteration-count: 1;
            transform: scale(2);
        }

        @keyframes selection {
            0% {
                transform: scale(1);
            }
            50% {
                transform: scale(2.5);
            }
            100% {
                transform: scale(2);
            }
        }

        .selection:hover {
            animation-name: jumpingSelection;
            animation-duration: 1s;
            animation-iteration-count: infinite;
        }

        @keyframes jumpingSelection {
            0% {
                transform: scale(1.7);
            }
            50% {
                transform: scale(2);
            }
            100% {
                transform: scale(1.7);
            }
        }

        .jumping:hover {
            animation-name: jumping;
            animation-duration: 1s;
            animation-iteration-count: infinite;
        }

        @keyframes jumping {
            0% {
                transform: scale(1);
            }
            50% {
                transform: scale(1.3);
            }
            100% {
                transform: scale(1);
            }
        }

        p {
            color: $secondary;
            font-weight: 600;
            width: 150px;
            margin: 25px auto 0 auto;
        }

        p:hover {
            cursor: pointer;
        }
    }

    .gallery {
        overflow: hidden;
        height: 1189px;
        > div {
            position: relative;
            height: 100%;
        }

        img {
            margin-bottom: 9px;
        }
        h4 {
            margin-bottom: 0;
        }
        p {
            font-size: 18px;
            letter-spacing: 0.03em;
        }

        .slidesIn {
            position: relative;
            animation-name: slide;
            animation-duration: 0.6s;
            animation-iteration-count: 1;
        }

        @keyframes slide {
            0% {
                left: 1000px;
            }
            100% {
                left: 0;
            }
        }

        .works:not(:last-child) p {
            margin-bottom: 35px;
        }
    }
}

// work section ends

// contact section starts
.contactSection {
    margin-bottom: 50px;
    h3 {
        margin-bottom: 30px;
    }

    .iconBlock:first-child {
        margin-right: 60px;
    }
    i {
        width: 48px;
        height: 48px;
        line-height: 48px;
        font-size: 2rem;
        color: #fff;
        background-color: $secondary;
        border-radius: 50%;
        margin-bottom: 5px;
        cursor: pointer;
    }

    small {
        font-size: 14px;
        color: $secondary;
    }
}

// contact section ends

// -------- landing page --------


// -------- work page (uiux) --------

// title starts
.uiuxTitle {
    padding-top: 197px;
    margin-bottom: 85px;
    margin-left: 95px;

    h2 {
        margin-bottom: 15px;
    }
}

// title ends

// step section starts
.stepSection {
    margin-left: 40px;
    overflow: hidden;
    position: relative;

    > div {
        overflow: hidden;
    }
    
    .star {
        position: relative;
        height: 30px;
        margin: 22px 15px 15px 15px;

        .greyLine::after {
            content: '';
            position: absolute;
            left: 50%;
            width: 3px;
            height: 1200vh;
            -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
            background-color: #E5E5E5;
            top: calc(100% + 2px);
            z-index: -2;
        }

        .primaryLine {
            position: absolute;
            left: 50%;
            width: 3px;
            -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
            background-color: $primary;
            top: calc(100% + 2px);
            z-index: -1;
        }
    }

    article {
        h3 {
            margin-bottom: 50px;
        }

        h3:first-of-type {
            margin-top: 15px;
        }

        h4 {
            margin-bottom: 10px;
        }

        p {
            font-size: 1rem;
            letter-spacing: 0.03em;
        }

        ul {
            padding: 0;
        }

        li {
            display: inline;
        }

        .dot {
            margin-top: 10px;
            margin-right: 6px;
        }
        
        .zoomIn {
            position: relative;
            transition-duration: 0.3s;
        }

        .zoomIn:hover {
            transform: scale(1.05);
            cursor: zoom-in;
        }

        .researchSection:first-of-type {
            margin-bottom: 100px;
        }

        .textSection {
            margin-bottom: 50px;
        }

        .mockupSection {
            margin-bottom: 100px;

            .mobileOverview {
                width: 350px;
            }

            .videoSection {
                position: relative;

                img {
                    max-height: 485px;
                    z-index: 1;
                }

                img:hover {
                    transform: scale(1);
                    pointer-events: none;
                }
                
                video {
                    object-fit: fill;
                }

                .mobileVideo {
                    position: absolute;
                    border: 1px solid #ccc;
                    width: 206px;
                    height: 365px;
                    top: 60px;
                    left: 15px;   
                }

                .desktopVideo {
                    width: 90%;
                    height: auto;
                    margin-left: 50%;
                    transform: translateX(-50%);
                    margin-bottom: -10px;
                    border-radius: 10px;
                }
                
            }

            .imgSection {
                position: relative;

                img {
                    z-index: 1;
                    margin: 15px 22.5px;
                }

                img:hover {
                    transform: scale(1);
                    cursor: default;
                }
            }

            .mockupBgc {
                position: absolute;
                top: 114px;
                width: 100%;
                height: calc(100% - 50px);
                border-radius: 10px;
                z-index: -1;
            }

            .akBgc {
                background-color: #1F2533;
            }

            .rbBgc {
                background-color: #FFF1F9;
            }

            .msBgc {
                background-color: #DD8E58;
            }
        }

        .mockupSection:not(:first-of-type) {
            margin-bottom: 154px;
        }
        
        .mockupSection:last-of-type {
            margin-bottom: 54px;
        }
    }

    .workTogether {
        h3 {
            margin-bottom: 30px;
        }
    }
}

// step section ends
// -------- work page (uiux) --------


// -------- work page (graphic) --------
// Icon guide starts
.iconGuide {
    width: 100%;
    font-family: 'Mulish', sans-serif;
    
    // graphic hero starts
    .iconHero {
        padding-top: 173px;
        margin-bottom: 100px;
        padding-bottom: 100px;
        background-color: $purple;
        color: #FFF;
        h2 {
            font-size: 48px;
        }

        .heroImg {
            position: relative;

            .enlarge {
                animation-name: enlarge;
                animation-duration: 0.4s;
                animation-iteration-count: 1;
                animation-delay: 0.4s;
                animation-timing-function: linear;
            }

            .title {
                position: absolute;
                left: 0;
                right: 0;
                margin: 89px auto 0 auto;
                animation-delay: 0.5s;
                
            }

            @keyframes enlarge {
                0% {
                    transform: scale(0.1);
                }
                100% {
                    transform: scale(1);
                }
            }
        }

        .introduction {
            margin: 200px 176px 0;

            .textSection {
                margin-top: 58px;
                img {
                    display: block;
                    margin: 50px auto 0;
                }
                p {
                    font-size: 18px;
                    margin-top: 25px;
                }
            }
        }
    }

    // graphic hero ends

    .features, .characters {
        position: relative;
        margin-bottom: 100px;
        border-left: 46px solid $purple;
        padding-left: 55px;
    }

    .features {
        padding: 55px 0;
    }

    .features:nth-of-type(4) {
        border: none;
        background-color: #12071C;
    }

    .characterText {
        position: absolute;
        left: -40px;
        top: 50%;
        transform: translateY(-50%);
    }
}

// Icon guide ends

// Magazine starts
.sticky-wrapper {

    .element-wrapper {
        transition-duration: 0.7s;

        footer {
            padding: 0;

            .backToTop {
                img {

                    transform: rotate(-90deg);
                }
            }
        }
    }

    .magazine {
        background-color: $blue;
        color: #fff;
    
        .page {
            width: 100vw;
            height: 100vh;
            box-sizing: border-box;
            flex-shrink: 0;
        }
    
        .introduction {
            width: 513px;
            height: 132px;
    
            .triangle {
                width: 0;
                height: 0;
                border-style: solid;
                border-width: 40px 40px 0 0;
                border-color:#D5A537 transparent transparent transparent;
            }
    
            p {
                font-size: 18px;
                width:467px;
            }
        }

        .jolin {
            max-width: 1148px;
            max-height: 742px;
            width: 100%;
            height: 100%;
            margin-top: 84px;
        }

        .jolin0 {
            background-image: url(../imgs/work/graphic/musical_magazine.png)
        }

        .jolin1 {
            background-image: url(../imgs/work/graphic/musical_magazine2.png)
        }

        .jolin2 {
            background-image: url(../imgs/work/graphic/musical_magazine3.png)
        }

        .jolin0, .jolin1, .jolin2 {
            background-position: top;
            background-size: cover;
            background-repeat: no-repeat;
        }
    }

    .infoSection {
        width: 100vw;
        flex-shrink: 0;
        padding-top: 104px;

        > div {
            max-width: 1320px;
            width: 100%;
        }
    }
}

// Magazine ends

// -------- work page (graphic) --------

// footer starts
footer {
    position: relative;
    padding-bottom: 100px;
    h3 {
        color: $secondary;
        font-weight: 600;
    }

    p {
        margin: 0;
    }

    ul {
        padding-left: 5px;
        margin: 0;

        li {
            letter-spacing: 0.03em;
        }
        li::before {
            content: "\2022";
            color: $light;
            font-weight: bold; 
            display: inline-block;
            width: 1rem;
        }
    }

    .backToTop {
        position: absolute;
        bottom: 95px;
        right: 55px;
    }

    .backToTop:hover {
        cursor: pointer;
    }
}

// footer ends
