@import "bootstrap/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;900&display=swap');

// general starts
html {
    font-size: 18px;
}

body {
    color: $dark;
    overflow-x: hidden;
}

body.fixed {
    overflow: hidden;
}

.container {
    padding: 0;
}

@media only screen and (max-width: 1200px) {
    .container {
        max-width: 100%;
    }
} 

h1 {
    font-weight: bold;
    color: $secondary;
}

h2 {
    font-size: 48px;
}

h2, h3 {
    font-weight: bold;
}

h3 {
    font-size: 36px;
}

h4 {
    font-weight: 600;
    font-size: 24px;
}

p {
    font-size: 24px;
}

h1, h2, h3, h4, h5, h6, p, li, a, button {
    font-family: 'Barlow Semi Condensed', sans-serif;
    margin: 0;
}

a {
    text-decoration: none;
    color: $secondary;

}

button {
    border: 2px solid $secondary;
    background-color: rgba(148, 64, 30, 0.65);
    color: #fff;
    font-size: 16px;
    padding: 11px 0;
    width: 112px;
    margin-bottom: 50px;
    border-radius: 5px;
}

// star
path {
    fill: #E5E5E5;
}

.scale {
  animation-name: scale;
  animation-duration: 0.5s;
  animation-iteration-count: 1;
}

@keyframes scale {
  0% {
    transform: scale(1);
  }
  15% {
    transform: scale(1.3);
  }
  30% {
    transform: scale(1.6);
  }
  45% {
    transform: scale(1.9);
  }
  60% {
    transform: scale(2.2);
  }
  75% {
    transform: scale(2.5);
  }
  100% {
    transform: scale(1);
  }
}

.jump {
    transform: scale(1);
    animation-name: jump;
    animation-duration: 0.5s;
    animation-iteration-count: 2;
}

@keyframes jump {
    0% {
        bottom: 0;
    }
    50% {
        bottom: 30px;
    }
    100% {
        bottom: 0;
    }
}

.jumping:hover {
    animation-name: textJumping;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

@keyframes textJumping {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.3);
    }
    100% {
        transform: scale(1);
    }
}

article {
    margin: 0 100px 100px 40px;
}

.workTogether {
    margin-top: 15px;
    margin-bottom: 100px;
    
    h3 {
        margin-bottom: 30px;
        font-weight: 600;
    }

    h3:last-of-type {
        color: $secondary;
        margin-bottom: 0;
        font-weight: bold;
    }
}

@media only screen and (max-width: 767px) {
    .workTogether {
        h3 {
            margin-bottom: 100px;
        }

        h3:last-of-type {
            position: relative;
            white-space: nowrap;
        }
    }
} 

// general ends

// navbar starst†
header {
    position: relative;
    z-index: 999;
}

.nav {
    position: absolute;
    width: 100%;
    padding: 25px 0;

    ul {
        padding: 0;

        li {
            margin-right: 30px;
        }

        li:last-child {
            margin-right: 25px;
        }

        .home {
            li {
                margin-left: 25px;
                margin-right: 0;
            }
        }
    }

    

    .hamburger {
        margin-right: 25px;
        margin-left: 12px; // to make same width as home button

        &:hover {
            cursor: pointer;
        }
    }

    .hamburger.open {
        background-color: #fff;
    }

    .close {
        position: absolute;
        top: 35px;
        right: 25px;
        display: none;
    }
}

@media only screen and (max-width: 575px) {
    .nav {
        .menu {
            background-image: url('../imgs/menuBackground.png');
            background-position: top;
            background-size: 100%;
            background-repeat: no-repeat;
            width: 100%;
            height: 100vh;
            position: fixed;
            padding-top: 130px;
            top: 0;
            left: 0;
            font-size: 24px;
            clip-path: circle(50px at 90% -10%);
            -webkit-clip-path: circle(50px at 90% -10%);
            transition: all 0.5s ease-out;
            pointer-events: none;
            visibility: hidden;

            div {
                li {
                    margin: 0;
                    margin-bottom: 30px;
                    text-align: center;       
                }
                a {
                    color: #FFF;
                }
            }
        }

        .menu.open {
            clip-path: circle(50px at 90% -10%);
            -webkit-clip-path: circle(2000px at 90% -10%);
            pointer-events: all;
            visibility: visible;
        }

        .close.open {
            display: inline;
        }
    }
}

// navbar ends

// -------- landing page --------

// hero starts
.hero {
    padding-top: 79px;
    width: 100%;
    height: 1126.4px;
    background-image: url('../imgs/heroImg.svg');
    background-position: top;
    background-repeat: no-repeat;
    background-size: 100%;
    margin-bottom: 50px;

    > div {
        margin-top: 131px;
    }

    .description {
        width: 551px;
        margin-top: 85px;
        margin-left: 46px;
        
        h1 {
            margin-bottom: 20px;
        }

        h4, p {
            padding-left: 7px;
        }

        h4 {
            margin-bottom: 15px;
        }
    }
}

@media only screen and (max-width: 1200px) {
    .hero {
        height: 85vw;
        min-height: 600px;

         > div {
            margin-top: 60px;
        }
    }
}

@media only screen and (max-width: 768px) {
    .hero {
        position: relative;
        background-size: cover;

        .description {
            z-index: 1;
            max-width: 50vw;
            margin-left: 0;
            margin-top: 148px;

            h1 {
                font-size: 48px;
            }

            h4 {
                margin-bottom: 10px;
            }

            h4, p {
                font-size: 1rem;
                padding-left: 0;
            }

        }
        img {
           position: absolute;
           left: 0;
           right: 0;
           top: 73px; 
           margin: 0 auto;
        }
    }
}

@media only screen and (max-width: 576px) {
    .hero {
        background-image: url('../imgs/heroImgMobile.svg');
        height: 200vw;
        margin-bottom: 0;

        .description {
            max-width: 100vw;
            width: 260px;
        }
    }
}

// hero ends

// skill section starts
.skillSection {
    margin-bottom: 150px;
    h3 {
        margin-bottom: 50px;
    }
    .skills {
        h4 {
            margin-bottom: 10px;
            font-weight: normal;
        }

        ul {
            padding: 0;
            margin: 0;
        }

        li {
            margin-top: 10px;
            letter-spacing: 0.03em;
        }

    }

    a {
        margin-top: 36px;
        font-size: 14px;
        color: $secondary;
    }
}

@media only screen and (max-width: 768px) {
    .skillSection {
        margin-bottom: 100px;

        .skills {
            width: 190px;
            margin: auto;

            &:not(:last-of-type) {
                margin-bottom: 50px;
            }

            h4 {
                font-weight: 600;
            }
        }
        
        button {
            width: 153px;
            background-color: $secondary;
            margin: 0 auto;
            margin-bottom: 50px;
        }
    }
}

// skill section ends

// work section starts
.workSection {
    position: relative;
    margin-bottom: 150px;
    max-width: 100vw;

    .row {
        margin: 0;
    }

    .workSectionBgc {
        position: absolute;
        top: -314px;
    }

    @media only screen and (max-width: 576px) {
        .workSectionBgc {
            position: absolute;
            top: -100px;
        }
    }

    .workCat { //left text
        z-index: 1;
        margin-top: -50px;
        max-width: 100vw;

        @media only screen and (min-width: 992px) {
            .selection {
                animation-name: selection;
                animation-duration: 0.5s;
                animation-iteration-count: 1;
                transform: scale(2);
            }
    
            .selection:hover {
                animation-name: jumpingSelection;
                animation-duration: 1s;
                animation-iteration-count: infinite;
            }
        }

        @keyframes selection {
            0% {
                transform: scale(1);
            }
            50% {
                transform: scale(2.5);
            }
            100% {
                transform: scale(2);
            }
        }

        @keyframes jumpingSelection {
            0% {
                transform: scale(1.7);
            }
            50% {
                transform: scale(2);
            }
            100% {
                transform: scale(1.7);
            }
        }

        p {
            color: $secondary;
            font-weight: 600;
            width: 150px;
            margin: 25px auto 0 auto;
        }

        p:hover {
            cursor: pointer;
        }
    }

    @media only screen and (max-width: 991px) {
        .workCat {
            margin-top: 0;
            padding: 0;

            h3 {
                margin-bottom: 30px;
            }

            button {
                transition-duration: 0.3s;
                &:not(:last-of-type) {
                    margin-right: 5px;
                }
            }

            .selection {
                background-color: $secondary;
            }
        }
    }

    .gallery {
        overflow: hidden;
        height: 1189px;
        max-width: 100vw;
        > div {
            position: relative;
            height: 100%;
        }

        img {
            margin-bottom: 9px;
        }
        h4 {
            margin-bottom: 0;
        }
        p {
            font-size: 18px;
            letter-spacing: 0.03em;
        }

        .slidesIn {
            position: relative;
            animation-name: slide;
            animation-duration: 0.6s;
            animation-iteration-count: 1;
        }

        @keyframes slide {
            0% {
                left: 1000px;
            }
            100% {
                left: 0;
            }
        }

        .works:not(:last-child) p {
            margin-bottom: 35px;
        }

        .invisible {
            opacity: 0;
        }
    }

    @media only screen and (max-width: 992px) {
        .gallery {
            height: 100%;
            padding: 0;

            .works {
                img, h4, p {
                    max-width: 84vw;
                }
            }
        }
    }
}

// work section ends

// contact section starts
.contactSection {
    margin-bottom: 50px;
    h3 {
        margin-bottom: 30px;
    }

    .iconBlock:first-child {
        margin-right: 60px;
    }
    i {
        width: 48px;
        height: 48px;
        line-height: 48px;
        font-size: 2rem;
        color: #fff;
        background-color: $secondary;
        border-radius: 50%;
        margin-bottom: 5px;
        cursor: pointer;
    }

    small {
        font-size: 14px;
        color: $secondary;
    }
}

// contact section ends

// -------- landing page --------


// -------- work page (uiux) --------

// title starts
.uiuxTitle {
    padding-top: 197px;
    margin: 0 95px 85px 95px;

    h2 {
        margin-bottom: 15px;
    }
}

@media only screen and (max-width: 768px) {
    .uiuxTitle {
        padding: 100px 0;
        margin: 0 22px;
    }
}

// title ends

// step section starts
.stepSection {
    margin-left: 40px;
    overflow: hidden;
    position: relative;

    > div {
        overflow: hidden;
    }
    
    .star {
        position: relative;
        height: 30px;
        margin: 22px 15px 15px 15px;

        .greyLine::after {
            content: '';
            position: absolute;
            left: 50%;
            width: 3px;
            height: 1200vh;
            -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
            background-color: #E5E5E5;
            top: calc(100% + 2px);
            z-index: -2;
        }

        .primaryLine {
            position: absolute;
            left: 50%;
            width: 3px;
            -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
            background-color: $primary;
            top: calc(100% + 2px);
            z-index: -1;
        }
    }

    article {
        width: 100%;
        .imgSection {
            position: relative;
        }
        
        h3 {
            margin-bottom: 50px;
        }

        h3:first-of-type {
            margin-top: 15px;
        }

        h4 {
            margin-bottom: 10px;
        }

        p {
            font-size: 1rem;
            letter-spacing: 0.03em;
        }

        ul {
            padding: 0;
        }

        li {
            display: inline;
            margin-bottom: 10px;
            letter-spacing: 0.03em;

        }

        img {
            max-width: 100%;
        }

        .dot {
            margin-top: 10px;
            margin-right: 6px;
        }
        
        .zoomIn {
            position: relative;
            transition-duration: 0.3s;
        }

        @media only screen and (min-width: 768px) {
            .zoomIn:hover {
                transform: scale(1.05);
                cursor: zoom-in;
            }
        }

        .researchSection:first-of-type {
            margin-bottom: 100px;
        }

        .textSection {
            margin-bottom: 50px;
        }

        // mockup section

        .mockupSection {
            &:not(:last-of-type) {
                padding-bottom: 100px;
            }

            .mobileOverview {
                width: 350px;
            }

            .videoSection {
                margin-bottom: 54px;
                position: relative;

                img {
                    max-height: 485px;
                    z-index: 1;
                }

                img:hover {
                    transform: scale(1);
                    pointer-events: none;
                }
                
                video {
                    object-fit: fill;
                }

                .mobileVideo {
                    position: absolute;
                    border: 1px solid #ccc;
                    width: 206px;
                    height: 365px;
                    top: 60px;
                    left: 15px;   
                }

                .desktopVideo {
                    width: 90%;
                    height: auto;
                    margin-left: 50%;
                    transform: translateX(-50%);
                    margin-bottom: -10px;
                    border-radius: 10px;
                }

                .frame {
                    margin-right: 130px;
                }

                @media only screen and (max-width: 991px) {
                    .frame {
                        margin-right: 0;
                    }
                }
            }

            .imgSection {
                margin-bottom: 54px;
                position: relative;

                img {
                    z-index: 1;
                    margin: 15px 22.5px;
                }

                img:hover {
                    transform: scale(1);
                    cursor: default;
                }
            }

            .mockupBgc {
                position: absolute;
                top: 110px;
                width: 100%;
                height: calc(100% - 64px);
                border-radius: 10px;
                z-index: -1;
            }

            .akBgc {
                background-color: #1F2533;
            }

            .rbBgc {
                background-color: #FFF1F9;
            }

            .msBgc {
                background-color: #DD8E58;
            }
        }  
    }

    .workTogether {
        margin-top: 15px;
        margin-left: 40px;
    }

    @media only screen and (max-width: 767px) {
        .workTogether {
            position: relative;
            margin-left: 0;
            margin-right: 20px;
            h3 {
                margin-bottom: 100px;
            }

            h3:last-of-type {
                left: -15px;
            }
        }
    } 
}

@media only screen and (max-width: 991px) {
    .stepSection {
        margin-left: 0;

        article {
            margin-left: 18px;
            margin-right: 25px;
            .textSection {
                margin-bottom: 30px;
            }

            .imgSection {
                padding: 0;
                .magnifier {
                    position: absolute;
                    right: 10px;
                    top: -15px;
                    width: 48px;
                    z-index: 1;
                }
            }

            .mockupSection {
                margin-bottom: 30px;

                .mobileOverview {
                    width: 100%;
                }

                .videoSection {
                    .mobileVideo {
                        left: 0;
                        right: 0;
                        margin: 0 auto;   
                    }

                    .desktopVideo {
                        margin-bottom: 0;
                        width: 100%;
                    }
                }

                &:last-of-type {
                    margin-bottom: 0;
                }
            }
        } 
    }
}

// step section ends
// -------- work page (uiux) --------


// -------- work page (graphic) --------
// Icon guide starts
.iconGuide {
    width: 100%;
    font-family: 'Mulish', sans-serif;
    
    // graphic hero starts
    .iconHero {
        padding-top: 173px;
        margin-bottom: 100px;
        padding-bottom: 100px;
        background-color: $purple;
        color: #FFF;
        > img {
            margin-top: 54px;
        }

        .heroImg {
            position: relative;

            .enlarge {
                animation-name: enlarge;
                animation-duration: 0.4s;
                animation-iteration-count: 1;
                animation-delay: 0.4s;
                animation-timing-function: linear;
            }

            .title {
                position: absolute;
                left: 0;
                right: 0;
                margin: 89px auto 0 auto;
                animation-delay: 0.5s;
                
            }

            @keyframes enlarge {
                0% {
                    transform: scale(0.1);
                }
                100% {
                    transform: scale(1);
                }
            }
        }

         .introduction {
            margin: 200px 176px 0;

            .textSection {
                margin-top: 58px;
                padding-right: 0;
                img {
                    display: block;
                    margin: 50px auto 0;

                    &:last-of-type {
                        margin-top: 25px;
                    }
                }
            }
        }
    }

    @media only screen and (max-width: 1200px) {
        .iconHero {
            > img {
                margin-top: 30px;
            }

            .title {
                max-width: 85%;
            }

            .introduction {
                margin: 100px 100px 0;
            }
        }
    }

    @media only screen and (max-width: 767px) {
        .iconHero {
            .introduction {
                margin: 100px 0 0;
            }
        }
    }

    @media only screen and (max-width: 575px) {
        .iconHero {
            > img {
                max-width: 327px;
            }

            .heroImg {
                .title  {
                    margin-top: 51px;
                }
    
                .door {
                    width: 175px;
                }
            }
        }
    }

    // graphic hero ends

    .features, .characters {
        position: relative;
        margin-bottom: 100px;
        border-left: 46px solid $purple;
        padding-left: 55px;

        img {
            max-width: 100%;
        }
    }

    .features {
        padding: 55px 0;
    }

    .features:nth-of-type(4) {
        border: none;
        background-color: #12071C;
    }

    .characterText {
        position: absolute;
        left: -40px;
        top: 50%;
        transform: translateY(-50%);
    }

    @media only screen and (max-width: 768px) {
        .features, .characters {
            margin-bottom: 50px;
            border-left: 18px solid $purple;
            padding-left: 0px;
        }

        .features {
            padding: 0;
        }

        .features:nth-of-type(4) {
            padding: 20px 0;
        }

        .characterText {
            left: -20px;
        }
    }

    @media only screen and (min-width: 768px) {
        .workTogether {
            margin-left: 132px;
            margin-right: 30px;
        }
    }

    @media only screen and (max-width: 767px) {
        .workTogether {
            margin: 0 30px;
            margin-bottom: 100px;
        }
    } 
}

// Icon guide ends

// Magazine starts
.sticky-wrapper {
    .element-wrapper {
        transition-duration: 0.7s;
    }

    .magazine {
        background-color: $blue;
        color: #fff;
    
        .page {
            width: 100vw;
            height: 100vh;
            box-sizing: border-box;
            flex-shrink: 0;
        }

        @media only screen and (max-width: 991px) {
            .page {
                width: 100%;
                height: 100%;
                img {
                    width: 100%;
                }
            }

            .firstPage {
                height: 100vh;
            }
        }
    
        // page 1 text
        .introduction {
            max-width: 100%;
            width: 513px;
            height: 132px;
    
            .triangle {
                width: 0;
                height: 0;
                margin-right: 6px;
                border-style: solid;
                border-width: 40px 40px 0 0;
                border-color:#D5A537 transparent transparent transparent;
            }
    
            p {
                font-size: 18px;
                width:467px;
                letter-spacing: 0.03em;
            }
            span {
                font-size: 24px;
            }
        }

        @media only screen and (max-width: 575px) {
            .introduction {
                margin: 0 20px;

                p {
                    width: 288px;
                }
            }
        } 
        
        @media only screen and (min-width: 992px) { 
            .jolin {
                max-width: 1043px;
                max-height: 742px;
                width: 100%;
                height: 100%;
                margin: 20px 30px 0;
            }
    
            .jolin0 {
                background-image: url(../imgs/work/graphic/musical_magazine.png)
            }
    
            .jolin1 {
                background-image: url(../imgs/work/graphic/musical_magazine2.png)
            }
    
            .jolin2 {
                background-image: url(../imgs/work/graphic/musical_magazine3.png)
            }
    
            .jolin0, .jolin1, .jolin2 {
                background-position: center;
                background-size: 100%;
                background-repeat: no-repeat;
            }
        }

        @media only screen and (max-width: 991px) {
            .jolin0, .jolin2, .jolin4 {
                padding-left: 50px;
                margin-bottom: 100px;
            }

            .jolin1, .jolin3, .jolin5 {
                padding-right: 50px;
                margin-bottom: 100px;
            }

            .jolin6, .jolin7, .jolin8 {
                margin: 0 10px 30px;
            }
        }
    }

    .infoSection {
        width: 100vw;
        flex-shrink: 0;
        padding-top: 89px;

        > div {
            max-width: 1320px;
            width: 100%;
        }

        footer {
            padding-bottom: 0;
            .backToTop {
                bottom: 0;
                img {
                    transform: rotate(-90deg);
                }
            }
        }

        @media only screen and (max-width: 992px) {
            footer {
                padding-bottom: 60px;
                .backToTop {
                    img {
                        transform: rotate(0deg);
                    }
                }
            }
        }
    }

    @media only screen and (min-width: 768px) {
        .workTogether {
            margin-left: 132px;
        }
    }
    @media only screen and (max-width: 767px) {
        .workTogether {
            margin: 0 30px;
            margin-bottom: 100px;
        }
    } 
}

// Magazine ends

// -------- work page (graphic) --------

// footer starts
footer {
    position: relative;
    padding-bottom: 100px;
    h3 {
        color: $secondary;
        font-weight: 600;
    }

    p {
        margin: 0;
    }

    ul {
        padding-left: 5px;
        margin: 0;
        margin-top: 15px;

        li {
            letter-spacing: 0.03em;
        }
        li::before {
            content: "\2022";
            color: $light;
            font-weight: bold; 
            display: inline-block;
            width: 1rem;
        }
    }

    .backToTop {
        position: absolute;
        bottom: 95px;
        right: 55px;
    }

    .backToTop:hover {
        cursor: pointer;
    }
}

@media only screen and (max-width: 768px) {
    footer {
        padding-bottom: 60px;
        
        .introduction {
            background-color: #CABB9E;
            padding: 25px 0;
            width: 100%;
            margin-bottom: 30px;
        }

        .backToTop {
            bottom: 20px;
            right: 20px;
        }
    }
}

// footer ends
